@font-face {
  font-family: "GTAlpinaCondensedMedium";
  font-style: normal;
  src: url("https://d1hcaw05lpqmfw.cloudfront.net/nfx.com/GT-Alpina-Condensed-Medium.otf");
}

@font-face {
  font-family: "GTAlpinaStandardThin";
  font-style: normal;
  src: url("https://d1hcaw05lpqmfw.cloudfront.net/nfx.com/GT-Alpina-Standard-Thin.ttf");
}
